.page-content__column {
    display: flex;
    width: 50%; 
    height: 100%;
    border-color: #d5d5d5;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    border-right-style: solid;
    border-right-width: 1px;
    flex-direction: column;
    min-width: 361px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.map-content {
    display: flex;
}

.table-content {
    display: flex;
}